Data from https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data

In [30]:
import pandas as pd

In [31]:
test = pd.read_csv('sales_train.csv')

In [32]:
test.drop('date_block_num', axis = 1, inplace = True)

In [33]:
test.groupby('date').count()

            shop_id  item_id  item_price  item_cnt_day
date
01.01.2013     1669     1669        1669          1669
01.01.2014     1852     1852        1852          1852
01.01.2015     1673     1673        1673          1673
01.02.2013     3356     3356        3356          3356
01.02.2014     4691     4691        4691          4691
01.02.2015     2925     2925        2925          2925
01.03.2013     3491     3491        3491          3491
01.03.2014     4554     4554        4554          4554
01.03.2015     2825     2825        2825          2825
01.04.2013     2338     2338        2338          2338
01.04.2014     1851     1851        1851          1851
01.04.2015     1515     1515        1515          1515
01.05.2013     4255     4255        4255          4255
01.05.2014     3133     3133        3133          3133
01.05.2015     2359     2359        2359          2359
01.06.2013     4581     4581        4581          4581
01.06.2014     3576     3576        3576          3576
01.06.2015     1670     1670        1670          1670
01.07.2013     2930     2930        2930          2930
01.07.2014     2254     2254        2254          2254
01.07.2015     1642     1642        1642          1642
01.08.2013     2821     2821        2821          2821
01.08.2014     2507     2507        2507          2507
01.08.2015     1771     1771        1771          1771
01.09.2013     4267     4267        4267          4267
01.09.2014     2482     2482        2482          2482
01.09.2015     2265     2265        2265          2265
01.10.2013     2252     2252        2252          2252
01.10.2014     2007     2007        2007          2007
01.10.2015     1595     1595        1595          1595
...             ...      ...         ...           ...
30.09.2013     2234     2234        2234          2234
30.09.2014     1927     1927        1927          1927
30.09.2015     1252     1252        1252          1252
30.10.2013     2685     2685        2685          2685
30.10.2014     1988     1988        1988          1988
30.10.2015     1938     1938        1938          1938
30.11.2013     4809     4809        4809          4809
30.11.2014     3498     3498        3498          3498
30.12.2013     9138     9138        9138          9138
30.12.2014     9324     9324        9324          9324
31.01.2013     2728     2728        2728          2728
31.01.2014     3097     3097        3097          3097
31.01.2015     3536     3536        3536          3536
31.03.2013     4651     4651        4651          4651
31.03.2014     1955     1955        1955          1955
31.03.2015     1433     1433        1433          1433
31.05.2013     3332     3332        3332          3332
31.05.2014     4152     4152        4152          4152
31.05.2015     2014     2014        2014          2014
31.07.2013     2976     2976        2976          2976
31.07.2014     2271     2271        2271          2271
31.07.2015     1620     1620        1620          1620
31.08.2013     4457     4457        4457          4457
31.08.2014     3385     3385        3385          3385
31.08.2015     1908     1908        1908          1908
31.10.2013     2811     2811        2811          2811
31.10.2014     2584     2584        2584          2584
31.10.2015     2579     2579        2579          2579
31.12.2013     7765     7765        7765          7765
31.12.2014     8347     8347        8347          8347

[1034 rows x 4 columns]

In [34]:
dates = list(set(test['date']))

In [35]:
dates[0]

'09.05.2013'

In [36]:
test[test['date'] == dates[0]]

              date  shop_id  item_id  item_price  item_cnt_day
439775  09.05.2013       27    20553       529.0           1.0
439776  09.05.2013       27    20417      1299.0           1.0
439831  09.05.2013       27    20231        99.0           1.0
439835  09.05.2013       27    20328       349.0           1.0
439853  09.05.2013       27    21440       399.0           1.0
439905  09.05.2013       27    21371      1199.0           1.0
439933  09.05.2013       27    21376       399.0           1.0
439981  09.05.2013       27    18617       199.0           1.0
439984  09.05.2013       27    18460       299.0           1.0
439998  09.05.2013       27    18312       299.0           1.0
440023  09.05.2013       27    18486       299.0           1.0
440035  09.05.2013       27    19602        99.0           1.0
440041  09.05.2013       27    19597        99.0           2.0
440098  09.05.2013       27    19536       399.0           1.0
440139  09.05.2013       28     1471      2599.0           1.0
440152  09.05.2013       28     1473      2599.0           1.0
440202  09.05.2013       28     1421       349.0           1.0
440204  09.05.2013       28     1481      1999.0           2.0
440232  09.05.2013       28     1676       299.0           1.0
440236  09.05.2013       28     1921       249.0           1.0
440245  09.05.2013       28     1915       249.0           1.0
440281  09.05.2013       28     1829      1199.0           1.0
440284  09.05.2013       28     1833      1199.0           1.0
440286  09.05.2013       28     1832      1199.0           1.0
440291  09.05.2013       28     1830       599.0           1.0
440305  09.05.2013       27    22091       109.0           2.0
440370  09.05.2013       27    21980       249.0           1.0
440406  09.05.2013       28     1055       249.0           1.0
440424  09.05.2013       28     1058       249.0           1.0
440436  09.05.2013       28      267       249.0           1.0
...            ...      ...      ...         ...           ...
530519  09.05.2013        6     6916       749.5           1.0
530532  09.05.2013        6     7137       419.0           1.0
530580  09.05.2013        6     7226       899.0           1.0
530606  09.05.2013        6     7423       199.0           1.0
530616  09.05.2013        6     7287       399.0           1.0
530657  09.05.2013        6     6202       399.0           1.0
530673  09.05.2013        6     5592      3490.0           1.0
530680  09.05.2013        6     5578      1099.0           1.0
530691  09.05.2013        6     6121       599.0           2.0
530705  09.05.2013        6     6005       299.0           1.0
530737  09.05.2013        6     6738       699.0           1.0
530866  09.05.2013        5    21917       149.0           1.0
530877  09.05.2013        6      375       249.0           1.0
530878  09.05.2013        6      259       249.0           1.0
530895  09.05.2013        6     1467       899.0           1.0
530907  09.05.2013        6     1455       698.0           1.0
530998  09.05.2013        5    18298       199.0           1.0
531007  09.05.2013        5    19130       199.0           1.0
531141  09.05.2013        5    20245       299.0           1.0
531143  09.05.2013        5    20239       299.0           1.0
531150  09.05.2013        5    20212       299.0           1.0
531208  09.05.2013        6     2759      1799.0           1.0
531253  09.05.2013        6     3417       449.0           1.0
531254  09.05.2013        6     3267       299.0           1.0
531259  09.05.2013        6     3159       790.0           1.0
531263  09.05.2013        6     3212        99.0           1.0
531442  09.05.2013        6     2406       124.0           1.0
531457  09.05.2013        6     2703       599.0           1.0
531484  09.05.2013        6     2308       649.0           1.0
531514  09.05.2013        6     2281       499.0           1.0

[2723 rows x 5 columns]

Saving only april 2015 (enough)

In [37]:
for date in dates:
    if '04.2015' in date:
        test[test['date'] == date].to_csv(f'data/sales_{date}.csv')
        print(date)

13.04.2015
30.04.2015
11.04.2015
16.04.2015
03.04.2015
05.04.2015
24.04.2015
25.04.2015
23.04.2015
27.04.2015
29.04.2015
22.04.2015
15.04.2015
19.04.2015
10.04.2015
09.04.2015
12.04.2015
08.04.2015
20.04.2015
21.04.2015
06.04.2015
04.04.2015
07.04.2015
28.04.2015
26.04.2015
17.04.2015
14.04.2015
02.04.2015
18.04.2015
01.04.2015

In [46]:
data = pd.read_csv('data/sales_01.04.2015.csv')

In [47]:
data = data.drop('Unnamed: 0', axis = 1)

In [48]:
data.head(1)

         date  shop_id  item_id  item_price  item_cnt_day
0  01.04.2015       29     1469      1199.0           1.0

In [49]:
data['date'] = pd.to_datetime(data['date'])

In [66]:
by_shop = data.groupby('shop_id').sum().drop(['item_id'], axis = 1)
by_shop = by_shop.rename(columns = {'item_price': 'shop_earnings', 'item_cnt_day': 'total_items_sold'})

In [71]:
import datetime as dt

In [72]:
by_shop['date'] = dt.datetime.today().strftime("%m/%d/%Y")

In [69]:
by_item = data.groupby('item_id').sum().drop(['shop_id'], axis = 1)
by_item = by_item.rename(columns = {'item_price': 'item_earnings', 'item_cnt_day': 'total_items_sold'})

In [74]:
by_item['date'] = dt.datetime.today().strftime("%m/%d/%Y")

In [75]:
by_item

         item_earnings  total_items_sold        date
item_id
30              169.00               1.0  03/07/2019
31              363.00               1.0  03/07/2019
32              149.00               1.0  03/07/2019
42              299.00               1.0  03/07/2019
59              249.00               1.0  03/07/2019
74              499.00               1.0  03/07/2019
109             249.00               1.0  03/07/2019
259             249.00               1.0  03/07/2019
464             299.00               1.0  03/07/2019
482            6600.00               4.0  03/07/2019
486            1500.00               7.0  03/07/2019
492             600.00               1.0  03/07/2019
493             250.00               1.0  03/07/2019
494             380.00               1.0  03/07/2019
686            1500.00               1.0  03/07/2019
687             600.00               1.0  03/07/2019
787             420.00               1.0  03/07/2019
799              25.00               1.0  03/07/2019
803             100.00               1.0  03/07/2019
806             498.00               4.0  03/07/2019
837            4600.00               1.0  03/07/2019
839            6600.00               2.0  03/07/2019
970             698.00               2.0  03/07/2019
971             349.00               1.0  03/07/2019
1007           1199.00               1.0  03/07/2019
1010            499.00               1.0  03/07/2019
1045            199.00               1.0  03/07/2019
1114            516.50               0.0  03/07/2019
1143            399.00               1.0  03/07/2019
1201            299.00               1.0  03/07/2019
...                ...               ...         ...
21486           210.00               1.0  03/07/2019
21591           399.00               1.0  03/07/2019
21605            99.00               1.0  03/07/2019
21669           149.00               1.0  03/07/2019
21674           399.00               1.0  03/07/2019
21677            49.00               1.0  03/07/2019
21679           149.00               1.0  03/07/2019
21684           149.00               1.0  03/07/2019
21704           169.00               1.0  03/07/2019
21726            99.00               1.0  03/07/2019
21761           772.03               1.0  03/07/2019
21762          1499.00               1.0  03/07/2019
21793           999.00               1.0  03/07/2019
21842           149.00               1.0  03/07/2019
21881           897.00               3.0  03/07/2019
21893            28.00               1.0  03/07/2019
21902            99.00               1.0  03/07/2019
21922           198.00               2.0  03/07/2019
21962          1249.00               1.0  03/07/2019
21976          1499.00               1.0  03/07/2019
22058           169.00               1.0  03/07/2019
22073            99.00               1.0  03/07/2019
22076            28.00               1.0  03/07/2019
22087           357.00               3.0  03/07/2019
22088           714.00               9.0  03/07/2019
22091           358.00               2.0  03/07/2019
22092           179.00               1.0  03/07/2019
22104           249.00               2.0  03/07/2019
22140           217.50               1.0  03/07/2019
22162          1995.00               6.0  03/07/2019

[985 rows x 3 columns]

In [78]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://ironhacker_read:ir0nhack3r@35.239.232.23/retail_sales_playground')

In [82]:
data.to_sql('raw_sales', engine, if_exists= 'append', index = False)

In [86]:
by_item.to_sql('sales_by_item_2', engine, if_exists='append')

In [85]:
by_item

         item_earnings  total_items_sold        date
item_id
30              169.00               1.0  03/07/2019
31              363.00               1.0  03/07/2019
32              149.00               1.0  03/07/2019
42              299.00               1.0  03/07/2019
59              249.00               1.0  03/07/2019
74              499.00               1.0  03/07/2019
109             249.00               1.0  03/07/2019
259             249.00               1.0  03/07/2019
464             299.00               1.0  03/07/2019
482            6600.00               4.0  03/07/2019
486            1500.00               7.0  03/07/2019
492             600.00               1.0  03/07/2019
493             250.00               1.0  03/07/2019
494             380.00               1.0  03/07/2019
686            1500.00               1.0  03/07/2019
687             600.00               1.0  03/07/2019
787             420.00               1.0  03/07/2019
799              25.00               1.0  03/07/2019
803             100.00               1.0  03/07/2019
806             498.00               4.0  03/07/2019
837            4600.00               1.0  03/07/2019
839            6600.00               2.0  03/07/2019
970             698.00               2.0  03/07/2019
971             349.00               1.0  03/07/2019
1007           1199.00               1.0  03/07/2019
1010            499.00               1.0  03/07/2019
1045            199.00               1.0  03/07/2019
1114            516.50               0.0  03/07/2019
1143            399.00               1.0  03/07/2019
1201            299.00               1.0  03/07/2019
...                ...               ...         ...
21486           210.00               1.0  03/07/2019
21591           399.00               1.0  03/07/2019
21605            99.00               1.0  03/07/2019
21669           149.00               1.0  03/07/2019
21674           399.00               1.0  03/07/2019
21677            49.00               1.0  03/07/2019
21679           149.00               1.0  03/07/2019
21684           149.00               1.0  03/07/2019
21704           169.00               1.0  03/07/2019
21726            99.00               1.0  03/07/2019
21761           772.03               1.0  03/07/2019
21762          1499.00               1.0  03/07/2019
21793           999.00               1.0  03/07/2019
21842           149.00               1.0  03/07/2019
21881           897.00               3.0  03/07/2019
21893            28.00               1.0  03/07/2019
21902            99.00               1.0  03/07/2019
21922           198.00               2.0  03/07/2019
21962          1249.00               1.0  03/07/2019
21976          1499.00               1.0  03/07/2019
22058           169.00               1.0  03/07/2019
22073            99.00               1.0  03/07/2019
22076            28.00               1.0  03/07/2019
22087           357.00               3.0  03/07/2019
22088           714.00               9.0  03/07/2019
22091           358.00               2.0  03/07/2019
22092           179.00               1.0  03/07/2019
22104           249.00               2.0  03/07/2019
22140           217.50               1.0  03/07/2019
22162          1995.00               6.0  03/07/2019

[985 rows x 3 columns]